@import 'variables';
@import 'global';

h1 {
    margin: 0;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    background-color: $clr-card-bg;
    margin: 5rem 1rem;

    border-radius: 12px;
    max-width: 1110px;
    .img-wrapper {
        position: relative;
        &::after {
            border-radius: 12px 12px 0 0;
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 99%;
            background-color: #5a048f8f;
            z-index: 1;
        }
        img {
            border-radius: 12px 12px 0 0;
            
        }
    }

    main {
        padding: 40px 1rem;
    }

    header {
        font-family: 'Inter', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h1 {
            max-width: 18ch;
            > span {
                color: $clr-accent;
            }
        }

        p {
            color: $clr-white-off-75;
            width: 28ch;
        }
    }

    section {
        font-family: 'Lexend Deca', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 16px;

        .tags {
            text-transform: uppercase;

            
            p {
                margin-top: 11px;
                color: $clr-white-off-60;
            }
        }
    }
}


@media (min-width: 410px) {
    body {
        font-size: 1.1rem;
    }
}

@media (min-width: 500px) {
    body {
        font-size: 1.4rem;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 1.6rem;
    }
}

@media (min-width: 720px) {
    body {
        font-size: 1.9rem;
    }
    
    .card {
        margin: 6% 8%;
    }
}

@media (min-width: 1150px) {
    body {
        font-size: 1.1rem;
    }

    p {
        letter-spacing: 1.2px;
    }

    .card {
        margin: 6% auto;
        margin-top: 10rem;
        grid-template-columns: 1fr .9fr;
        .img-wrapper, main {
            grid-row: 1;
        }
        .img-wrapper {
            grid-column: 2;
            &::after {
                border-radius: 0 12px 12px 0;
                height: 100%;
            }
            img {
                height: 100%;
                border-radius: 0 12px 12px 0;
            }
        }
        main {
            grid-column: 1;
            padding: 60px 1rem;
            padding-left: 5rem;
        }
        header {
            text-align: left !important;
            margin-bottom: 3rem;
            gap: 1rem;
            > * {
                align-self: normal;
            }

            p {
                width: 45ch;
                font-size: .8rem;
            }
        }

        section {
            flex-direction: row;
            .tags {
                margin-right: 4rem;
                text-align: justify;
            }
            
            .amount {
                font-size: 1.5rem;
            }

            p {
                margin-top: 5px !important;
                font-size: .8rem;
            }
        }
    }


}

/*
font-family: 'Inter', sans-serif

font-family: 'Lexend Deca', sans-serif
*/
