@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-transition: width .1s ease-in;
  transition: width .1s ease-in;
}

img {
  width: 100%;
}

body {
  background-color: #090b1a;
  margin: 0;
  height: 100vh;
  color: white;
  font-size: 15px;
}

h1 {
  margin: 0;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background-color: #1b1938;
  margin: 5rem 1rem;
  border-radius: 12px;
  max-width: 1110px;
}

.card .img-wrapper {
  position: relative;
}

.card .img-wrapper::after {
  border-radius: 12px 12px 0 0;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 99%;
  background-color: #5a048f8f;
  z-index: 1;
}

.card .img-wrapper img {
  border-radius: 12px 12px 0 0;
}

.card main {
  padding: 40px 1rem;
}

.card header {
  font-family: 'Inter', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.card header h1 {
  max-width: 18ch;
}

.card header h1 > span {
  color: #aa5cdb;
}

.card header p {
  color: rgba(255, 255, 255, 0.75);
  width: 28ch;
}

.card section {
  font-family: 'Lexend Deca', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 16px;
}

.card section .tags {
  text-transform: uppercase;
}

.card section .tags p {
  margin-top: 11px;
  color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 410px) {
  body {
    font-size: 1.1rem;
  }
}

@media (min-width: 500px) {
  body {
    font-size: 1.4rem;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 1.6rem;
  }
}

@media (min-width: 720px) {
  body {
    font-size: 1.9rem;
  }
  .card {
    margin: 6% 8%;
  }
}

@media (min-width: 1150px) {
  body {
    font-size: 1.1rem;
  }
  p {
    letter-spacing: 1.2px;
  }
  .card {
    margin: 6% auto;
    -ms-grid-columns: 1fr .9fr;
        grid-template-columns: 1fr .9fr;
  }
  .card .img-wrapper, .card main {
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .card .img-wrapper {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .card .img-wrapper::after {
    height: 100%;
  }
  .card .img-wrapper img {
    height: 100%;
  }
  .card main {
    -ms-grid-column: 1;
    grid-column: 1;
    padding: 60px 1rem;
    padding-left: 5rem;
  }
  .card header {
    text-align: left !important;
    margin-bottom: 3rem;
    gap: 1rem;
  }
  .card header > * {
    -ms-flex-item-align: normal;
        -ms-grid-row-align: normal;
        align-self: normal;
  }
  .card header p {
    width: 45ch;
    font-size: .8rem;
  }
  .card section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .card section .tags {
    margin-right: 4rem;
    text-align: justify;
  }
  .card section h1 {
    font-size: 1.5rem;
  }
  .card section p {
    margin-top: 5px !important;
    font-size: .8rem;
  }
}

/*
font-family: 'Inter', sans-serif

font-family: 'Lexend Deca', sans-serif
*/
/*# sourceMappingURL=style.css.map */